# 파이썬 튜토리얼 (3) - 배포용

<span style="color:red">
    본 자료는 교재 "파이썬으로 배우는 머신러닝의 교과서" chapter 2의 내용과 Stanford 강의 "CS231n, Python Numpy Tutorial"의 한글버전(http://aikorea.org/cs231n/python-numpy-tutorial/)을 파이썬 3 버전에 맞게 수정한 것과, 점프 투 파이썬 인터넷 교재, https://wikidocs.net/book/1, 및 그 외에 다른 참고자료들을 일부 추가하여 만들었습니다.
</span>

참고 자료: 
- 이토마코토/박광수, 파이썬으로 배우는 머신러닝의 교과서, chapter 2, 한빛미디어, 2018
- Stanford university, CS231n, Python Numpy Tutorial,의 한글버전 (http://aikorea.org/cs231n/python-numpy-tutorial/)
- 박응용, 점프 투 파이썬, https://wikidocs.net/book/1
- Python Documentation https://docs.python.org/3.7/contents.html
- Python 버전 2와 3 차이 https://zetawiki.com/wiki/Python_%EB%B2%84%EC%A0%84_2%EC%99%80_3_%EC%B0%A8%EC%9D%B4

### Dictionary

자바의 ‘맵’, 자바스크립트의 ‘오브젝트’와 유사하게, 파이썬의 ‘딕셔너리’는 (key, value) 쌍을 저장합니다.

    {Key1:Value1, Key2:Value2, Key3:Value3, ...}

**딕셔너리 생성 및 인덱싱**

In [1]:
d = {'cat': 'cute', 'dog': 'furry'}  # 새로운 딕셔너리를 만듭니다
print(d)
print (d['cat'])       # 딕셔너리의 값을 받음; 출력 "cute"
print ('cat' in d)     # 딕셔너리가 주어진 열쇠를 가졌는지 확인; 출력 "True"

{'cat': 'cute', 'dog': 'furry'}
cute
True

**딕셔너리 쌍 추가, 삭제하기**

In [2]:
d['fish'] = 'wet'    # 딕셔너리 쌍 추가
print (d['fish'])    # 출력 "wet"
del d['dog']
print (d)

wet
{'cat': 'cute', 'fish': 'wet'}

**딕셔너리 관련 함수들**

In [3]:
a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
a.keys()    # a.keys()는 딕셔너리 a의 Key만을 모아서 dict_keys 객체를 돌려준다.

dict_keys(['name', 'phone', 'birth'])

In [4]:
list(a.keys())    # dict_keys 객체를 리스트로 변환

['name', 'phone', 'birth']

In [5]:
a.values()    # Key를 얻는 것과 마찬가지 방법으로 Value만 얻고 싶다면 values 함수를 사용하면 된다. 
              # values 함수를 호출하면 dict_values 객체를 돌려준다.

dict_values(['pey', '0119993323', '1118'])

In [6]:
a.items()    # items 함수는 Key와 Value의 쌍을 튜플로 묶은 값을 dict_items 객체로 돌려준다.

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [7]:
a.clear()    # Key: Value 쌍 모두 지우기(clear)
a

{}

In [8]:
a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
a.get('name')    # Key로 Value얻기(get), a.get('name') == a['name']

'pey'

In [9]:
print(a.get('nokey'))  # 존재하지 않는 키(nokey)로 값을 가져오려고 할 경우 a['nokey']는 Key 오류를 발생시키고 
                       # a.get('nokey')는 None을 돌려준다는 차이가 있다.

None

In [10]:
a.get('foo', 'bar')    # get(x, '디폴트 값'), a 딕셔너리에는 'foo'에 해당하는 값이 없다. 따라서 디폴트 값인 'bar'를 돌려준다.

'bar'

**조건문**: 해당 Key가 딕셔너리 안에 있는지 조사하기(in)

In [11]:
a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
'name' in a

True

**반복문**: 딕셔너리의 key는 쉽게 반복될 수 있습니다:

In [12]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal in d:
    legs = d[animal]
    print ('A %s has %d legs' % (animal, legs))
# 출력 "A person has 2 legs", "A spider has 8 legs", "A cat has 4 legs", 한 줄에 하나씩 출력.

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

만약 열쇠와, 그에 상응하는 값에 접근하고 싶다면, ‘items’ 메소드를 사용하세요:

In [13]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():
    print ('A %s has %d legs' % (animal, legs))
# 출력 "A person has 2 legs", "A spider has 8 legs", "A cat has 4 legs", 한 줄에 하나씩 출력.

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

**딕셔너리 comprehensions**: 리스트 comprehensions과 유사한 딕셔너리 comprehensions을 통해 손쉽게 딕셔너리를 만들 수 있습니다.

In [14]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print (even_num_to_square)  # 출력 "{0: 0, 2: 4, 4: 16}"

{0: 0, 2: 4, 4: 16}

**실습문제**: 다음 표를 딕셔너리로 만드시오.

    항목    값
    name    홍길동
    birth   1128
    age     30

In [15]:
dic={"name":"홍길동","birth":1128,"age":30}
print(dic)

{'name': '홍길동', 'birth': 1128, 'age': 30}

**실습문제**: 딕셔너리 a에서 'B'에 해당되는 값을 추출하고 삭제해 보자.

    a = {'A':90, 'B':80, 'C':70}

In [16]:
a = {'A':90, 'B':80, 'C':70}
a.pop('B')

80

**실습문제**: 다음은 딕셔너리의 a에서 'C'라는 key에 해당되는 value를 출력하는 프로그램이다.

    >>> a = {'A':90, 'B':80} >>> a['C'] Traceback (most recent call last): File "<stdin>", line 1, in <module> KeyError: 'C' 
    
a 딕셔너리에는 'C'라는 key가 없으므로 위와 같은 오류가 발생하게 된다. 'C'에 해당되는 키값이 없을 경우 오류 대신 70을 얻을수 있도록 수정해 보자.

In [17]:
a = {'A':90, 'B':80, 'C':70}
a.get("C",70)

70

**실습문제**: 다음과 같은 딕셔너리 a가 있다.

    a = {'A':90, 'B':80, 'C':70} 

딕셔너리 a의 value중에서 최소 값을 출력하시오.

In [18]:
a = {'A':90, 'B':80, 'C':70}
min(a.values())

70

**실습문제**: 다음과 같은 딕셔너리 a가 있다.

    a = {'A':90, 'B':80, 'C':70} 

위 딕셔너리 a를 다음과 같은 리스트로 만들어보자.

    [('A', 90), ('B', 80), ('C', 70)]

In [19]:
a = {'A':90, 'B':80, 'C':70}
list(a.items())

[('A', 90), ('B', 80), ('C', 70)]

### Set

Collection : string, list, dict

집합은 순서 구분이 없고 서로 다른 요소 간의 모임입니다.
- 중복을 허용하지 않는다.  ex) 1, 2, 2, 3 => 1, 2, 3
- 순서가 없다(Unordered).  ex) a[1] (X)

**집합의 생성**

In [20]:
s1 = set([1,2,3])  # or s1={1, 2, 3}
s1

{1, 2, 3}

In [21]:
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [22]:
animals = {'cat', 'dog'}
animals

{'cat', 'dog'}

**조건문**

In [23]:
animals = {'cat', 'dog'}
print ('cat' in animals)   # 요소가 집합에 포함되어 있는지 확인; 출력 "True"
print ('fish' in animals)  # 출력 "False"

True
False

**반복문**: 집합을 반복하는 구문은 리스트 반복 구문과 동일합니다; 그러나 집합은 순서가 없어서, 어떤 순서로 반복될지 추측할 순 없습니다:

In [24]:
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print ('#%d: %s' % (idx + 1, animal))
# 출력 "#1: fish", "#2: dog", "#3: cat", 한 줄에 하나씩 출력.

#1: cat
#2: dog
#3: fish

**집합의 연산**

In [25]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

In [26]:
s1 & s2, s1.intersection(s2)    # 교집합

({4, 5, 6}, {4, 5, 6})

In [27]:
s1 | s2, s1.union(s2)    # 합집합

({1, 2, 3, 4, 5, 6, 7, 8, 9}, {1, 2, 3, 4, 5, 6, 7, 8, 9})

In [28]:
s1 - s2, s1.difference(s2)    # 차집합

({1, 2, 3}, {1, 2, 3})

**집합 자료형 관련 함수들**

In [29]:
animals = {'cat', 'dog'}
animals.add('fish')      # 요소를 집합에 추가
print (len(animals))       # 집합에 포함된 요소의 수; 출력 "3"
animals.add('cat')       # 이미 포함되어있는 요소를 추가할 경우 아무 변화 없음
print (len(animals))       # 출력 "3"
animals.remove('cat')    # Remove an element from a set
print (len(animals))       # 출력 "2"

3
3
2

**집합 comprehensions**: 리스트, 딕셔너리와 마찬가지로 집합 comprehensions을 통해 손쉽게 집합을 만들수 있습니다.

In [30]:
from math import sqrt
nums = {int(sqrt(x)) for x in range(30)}
print (nums)  # 출력 "set([0, 1, 2, 3, 4, 5])"

{0, 1, 2, 3, 4, 5}

**실습문제**: 아래의 리스트에서 중복 숫자를 제거해 보자.

    [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

In [31]:
list(set([1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]))

[1, 2, 3, 4, 5]

### Tuple

튜플은 요소 간 순서가 있으며 값이 변하지 않는 리스트입니다. 따라서 튜플은 요소를 수정할 수가 없습니다. 튜플은 많은 면에서 리스트와 유사합니다; 가장 중요한 차이점은 튜플은 ‘딕셔너리의 열쇠’와 ‘집합의 요소’가 될 수 있지만, 리스트는 불가능하다는 점입니다. 

{(1, 2):1, (2, 3):2}  (O)     {{1, 2}:1, {2, 3}:2}  (X)
{(1, 2), (2, 3)}  (O)         {{1, 2},{2, 3}}  (X)

**튜플의 생성**

In [32]:
t1 = ()    # 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
t2 = (1,)    # 단지 1개의 요소만을 가질 때는 요소 뒤에 콤마(,)를 반드시 붙여야 한다
t3 = (1, 2, 3)
t4 = 1, 2, 3    # 괄호( )를 생략해도 무방
t5 = ('a', 'b', ('ab', 'cd'))
print(type(t3), t3)

<class 'tuple'> (1, 2, 3)

In [33]:
a = (1)      # tuple이 아님, 수식에서의 괄호
type(a)

int

In [34]:
a = (1,)      # 길이가 1인 tuple
type(a)

tuple

**튜플 다루기**

In [35]:
t1 = (1, 2, 'a', 'b')
t1[1], t1[3]    # 튜플 인덱싱

(2, 'b')

In [36]:
t1[1:]    # 슬라이싱

(2, 'a', 'b')

In [37]:
t2 = (3, 4)
t1 + t2    # 튜플 더하기 , concatenation

(1, 2, 'a', 'b', 3, 4)

In [38]:
t2 * 3    # 튜플 곱하기

(3, 4, 3, 4, 3, 4)

In [39]:
len(t1)    # 튜플 길이

4

In [40]:
d = {(x, x + 1): x for x in range(10)}  # 튜플을 열쇠로 하는 딕셔너리 생성
print(d)
t = (5, 6)       # 튜플 생성
print (type(t))    # 출력 "<type 'tuple'>"
print (d[t])       # 출력 "5"
print (d[(1, 2)])  # 출력 "1"

{(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}
<class 'tuple'>
5
1

**실습문제**: (1,2,3)이라는 튜플에 4라는 값을 추가하여 (1,2,3,4)처럼 만들어 출력해 보자.

In [41]:
(1,2,3)+(4,)

(1, 2, 3, 4)

a 튜플에 (4, )라는 튜플을 더하면 된다. 단, 이때 만들어지는 a + (4, )의 결과는 a 값이 변경되는 것이 아니라(튜플은 그 값을 변경할 수 없다) 새로운 튜플이 생성되고 그 값이 a 변수에 대입되는 것임에 유념하자.

다음 코드를 실행해 보면 a의 고유 주소 값이 변경됨을 확인할 수 있다.

In [42]:
a = (1, 2, 3)
print (id(a))     # a의 고유 주소 값 출력
a = a + (4,)
print(a)
print (id(a))     # (4,) 값이 더해 진 후 a의 고유 주소 값 출력

2059312345952
(1, 2, 3, 4)
2059313847816

**Mutable vs Immutable Type:**
- immutable type : number, string, tuple
- mutable type : list, dictionary, set